<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel de control FotoMultas</title>
  <!-- Agregar Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    <div class="row">
    <div class="col-md-2"><img src="/logo.jpg" alt="Logo" class="img-fluid mb-3" width="75px"> </div>
    <div class="col-md-6"><h2>Panel de control FotoMultas</h2></div>
    <div class="col-md-4 text-end"><a href="/logout" class="btn btn-secondary">Cerrar sesión</a></div>
      
    </div>
    <h1>Tabla de registros</h1>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Valor Actual</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
      <% rows.forEach(row => { %>
        <tr>
          <td><%= row.desc %></td>                    
          <td><%= row.value %></td>
          <td>
            <form action="/update" method="POST" class="d-inline"> 
              <input type="hidden" name="id" value="<%= row.id %>">
              <input type="text" name="newValue" placeholder="Nuevo valor">
              <button type="submit">Actualizar</button>
            </form>
          </td>
        </tr>
      <% }); %>
    </tbody>
    <div class="text-end">
        <a href="/logout" class="btn btn-success">Aplicar Cambios</a><a href="/livecam" class="btn btn-info">Ver Camara</a>
    </div>
</body
