<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar sesión</title>
  <link href="/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="text-center">
          <!-- Agregar la imagen del logo aquí -->
          <img src="/logo.jpg" alt="Logo" class="img-fluid mb-3" width="75px">
          <h1>Iniciar sesión</h1>
        </div>
        <form action="/login" method="POST">
          <div class="mb-3">
            <label for="username" class="form-label">Nombre de usuario:</label>
            <input type="text" name="username" id="username" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña:</label>
            <input type="password" name="password" id="password" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </form>
        <% if (typeof error !== 'undefined') { %>
          <div class="alert alert-danger" role="alert"><%= error %></div>
        <% } %>
      </div>
    </div>
  </div>

  <script src="/popper.min.js"></script>
  <script src="/bootstrap.min.js"></script>
  <script src="/jquery.js"></script>
</body>
</html>
